.content_6 {width: 960px; margin: 50px auto 170px;}
.menu_tip_wrap{margin-top: -30px;}
.box_1{margin-bottom: 70px; margin-left: 100px}
.box_2{margin-left: 100px}
.sub_t_1 {display: table-cell; color: #000; font-size: 1.3rem; font-weight: 600;}
.sub_t_2 {display: table-cell; color: #000; font-size: 1.1rem; font-weight: 600;}
.title_wrap1{display: table;}
.title_wrap2{display: table;}
.academy_image1{display: table-cell; margin-left: -40px; margin-bottom: -17px;}
.academy_image2{display: table-cell; margin-bottom: -17px; margin-left: -10px;}
.academy_image3{display: table-cell; margin-left: -30px; margin-bottom: -10px;}
.academy_image4{display: table-cell; margin-bottom: -10px; margin-left: -7px;}
.sub_1_1 {font-size: 0.9rem; color: #2f2f2f; text-decoration: none;}
.sub_1_2 {font-size: 0.9rem; color: #2f2f2f; text-decoration: none;}
.sub_1_1:hover {color: #787878}
.sub_1_2:hover {color: #787878}
