* {color: #4f3f3e;　margin: 0; font-family: "Yu Mincho";}
h1,h2,h3,h4,h5,h6 {font-size: 100%;}
body {font-size: 1.4em; position: relative; overflow-x: hidden; left: 0; margin: 0px;}
a {text-decoration: none;}
<<<<<<< HEAD
/*ローディング*/
#loader-bg {display: none; position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background: #fff; z-index: 11;}
#loader {display: none; position: fixed; top: 50%; left: 50%; width: 200px; height: 200px; margin-top: -70px; margin-left: -100px; text-align: center; color: #fff; z-index: 12;}
=======
>>>>>>> rebase前
/* メニュー */
.menu_wrap{background-color: #f1f1f1; height: 100%; width: 240px; position: fixed; z-index: 10; margin-top: 0px; float: left;}
#slide_menu{position: fixed; top: 0; width: 240px; left: -240px;}
#button{}
.menu_tip_wrap{position: fixed; margin-top: 4px; margin-left: 17px; cursor: pointer; width: 30px; height: 30px;}
#close{cursor: pointer; width: 20px; height: 20px; margin-top: 25px; margin-left: 25px;}
.close_menu_wrap{margin:0px 0px auto 0px;}
.close_menu{margin:0px 0px auto 0px}
.ws_1{display: table; width: 183px; margin: 30px auto 10px; cursor: pointer;}
.search{margin-left: 0px;}
.search1_wrap{display: table-cell;}
.search1{line-height: 1; padding: 4px 27px 4px 2px; color: #000; background-color: #fff;}
.search2_wrap{display: table-cell; vertical-align: sub; padding-left: 3px;}
.search2{width: 30px;}
.title_1{display: table; width: 170px; height: 27px; padding-bottom: 8px; padding-top: 5px; margin-top: 15px; margin-left: 32px; cursor: pointer; border-bottom: 1px solid #9c9c9c;}
.top {display: block; width: auto; margin: 0; cursor: pointer; color: #000; font-size: 0.8rem; text-decoration: none; vertical-align: middle; transition: opacity 0.4s; -webkit-transiton: opacity 0.4s;}
.top:hover{opacity: 0.7;}
.c_image_1_wrap{display: table-cell; vertical-align: middle; padding-left: 4px;}
.c_image_1{vertical-align: middle;}
.text_1{display: table-cell; width: 127px; padding-top: 5px; padding-left:10px; vertical-align: middle;}
.search2_wrap{}
.search2{width: 14px; height: 14px; margin-left: 1px; background-color: rgba(0, 0, 0, 0);}
.title_2{display: table; width: 170px; height: 27px; padding-bottom: 8px; padding-top: 5px; margin-top: 15px; margin-left: 32px; cursor: pointer; border-bottom: 1px solid #9c9c9c}
.login {display: block; width: auto; margin: 0px; cursor: pointer; color: #000; background-color:#f1f1f1; text-decoration: none; font-size: 0.8rem; line-height:1; transition: opacity 0.4s; -webkit-transiton: opacity 0.4s;}
.login:hover{opacity: 0.7;}
.user_image_wrap{display: table-cell; vertical-align: middle; padding-left: 4px;}
.user_image{vertical-align: middle;}
.text_2{display: table-cell; width: 127px; padding-top: 5px; padding-left:10px; vertical-align: middle;}
.title_3{display: table; width: 170px; height: 27px; padding-bottom: 8px; padding-top: 5px; margin-top: 15px; margin-left: 32px; cursor: pointer; border-bottom: 1px solid #9c9c9c}
.category {display: block; width: auto; margin: 0px; cursor: pointer; color: #000; text-decoration: none; font-size: 0.8rem; background-color:#f1f1f1; line-height:1; transition: opacity 0.4s; -webkit-transiton: opacity 0.4s;}
.category:hover{opacity: 0.7;}
.category_image_wrap{display: table-cell; vertical-align: middle; padding-left: 4px;}
.category_image{vertical-align: middle;}
.text_3{display: table-cell; width: 127px; padding-top: 5px; padding-left:10px; vertical-align: middle;}
.title_4{display: table; width: 170px; height: 27px; padding-bottom: 8px; padding-top: 5px; margin-top: 15px; margin-left: 32px; cursor: pointer; border-bottom: 1px solid #9c9c9c}
.release {display: block; width: auto; margin: 0px; cursor: pointer; color: #000; text-decoration: none; font-size: 0.8rem; background-color:#f1f1f1; line-height:1; transition: opacity 0.4s; -webkit-transiton: opacity 0.4s;}
.release:hover{opacity: 0.7;}
.release_image_wrap{display: table-cell; vertical-align: middle; padding-left: 4px;}
.release_image{vertical-align: middle;}
.text_4{display: table-cell; width: 127px; padding-top: 5px; padding-left:10px; vertical-align: middle;}
.title_5{display: table; width: 170px; height: 27px; padding-bottom: 8px; padding-top: 5px; margin-top: 15px; margin-left: 32px; cursor: pointer; border-bottom: 1px solid #9c9c9c}
.rank {display: block; width: auto; margin: 0px; cursor: pointer; color: #000; text-decoration: none; font-size: 0.8rem; background-color:#f1f1f1; line-height:1; transition: opacity 0.4s; -webkit-transiton: opacity 0.4s;}
.rank:hover{opacity: 0.7;}
.rank_image_wrap{display: table-cell; vertical-align: middle; padding-left: 4px;}
.rank_image{vertical-align: middle;}
.text_5{display: table-cell; width: 127px; padding-top: 5px; padding-left:10px; vertical-align: middle;}
.title_6{display: table; width: 170px; height: 27px; padding-bottom: 8px; padding-top: 5px; margin-top: 15px; margin-left: 32px; cursor: pointer; border-bottom: 1px solid #9c9c9c}
.academy {display: block; width: auto; margin: 0px; cursor: pointer; color: #000; text-decoration: none; font-size: 0.8rem; background-color:#f1f1f1; line-height:1; transition: opacity 0.4s; -webkit-transiton: opacity 0.4s;}
.academy:hover{opacity: 0.7;}
.academy_image_wrap{display: table-cell; vertical-align: middle; padding-left: 4px;}
.academy_image{vertical-align: middle;}
.text_6{display: table-cell; width: 127px; padding-top: 5px; padding-left:10px; vertical-align: middle;}
/* メイン */
.content{clear: left; width: 960px; margin: 20px auto 90px; color: #000; font-size: 0.9rem; z-index: 10;}
<<<<<<< HEAD
.movrev_wrap{width: 180px; margin: 0 auto 14px; font-size: 1.7rem; color: #999;}
.movrev_1{color: #4f3f3e;}
.tsuta_1_wrap{width: 230px; margin: -40px auto 10px;}
.tsuta_1{}
=======

>>>>>>> rebase前
.top_menu_wrap{width: 100%; display: table; margin-bottom: 24px; border-top: solid 1px #999; border-bottom: solid 1px #999}
.t_1{display: table-cell; vertical-align: middle; text-align: center;}
.t_2{display: table-cell; vertical-align: middle; text-align: center;}
.t_3{display: table-cell; vertical-align: middle; text-align: center;}
.t_4{display: table-cell; vertical-align: middle; text-align: center;}
.t_5{display: table-cell; vertical-align: middle; text-align: center;}
.t_6{display: table-cell; vertical-align: middle; text-align: center;}
.t_1_1{position: relative; transition: .3s;}
.t_2_1{position: relative; transition: .3s;}
.t_3_1{position: relative; transition: .3s;}
.t_4_1{position: relative; transition: .3s;}
.t_5_1{position: relative; transition: .3s;}
.t_6_1{position: relative; transition: .3s;}
.t_1_1::after{position: absolute; bottom: 0; left: 50%; content: ''; width: 0; height: 1px; background-color: #778899; transition: .3s; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.t_2_1::after{position: absolute; bottom: 0; left: 50%; content: ''; width: 0; height: 1px; background-color: #778899; transition: .3s; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.t_3_1::after{position: absolute; bottom: 0; left: 50%; content: ''; width: 0; height: 1px; background-color: #778899; transition: .3s; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.t_4_1::after{position: absolute; bottom: 0; left: 50%; content: ''; width: 0; height: 1px; background-color: #778899; transition: .3s; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.t_5_1::after{position: absolute; bottom: 0; left: 50%; content: ''; width: 0; height: 1px; background-color: #778899; transition: .3s; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.t_6_1::after{position: absolute; bottom: 0; left: 50%; content: ''; width: 0; height: 1px; background-color: #778899; transition: .3s; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.t_1_1:hover::after{width: 100%;}
.t_2_1:hover::after{width: 100%;}
.t_3_1:hover::after{width: 100%;}
.t_4_1:hover::after{width: 100%;}
.t_5_1:hover::after{width: 100%;}
.t_6_1:hover::after{width: 100%;}
.t_1_1:hover{color: #778899;}
.t_2_1:hover{color: #778899;}
.t_3_1:hover{color: #778899;}
.t_4_1:hover{color: #778899;}
.t_5_1:hover{color: #778899;}
.t_6_1:hover{color: #778899;}
.l_1{margin-top: 30px;}
#fan_1{display: table-cell; text-decoration: none; font-size: 0.9rem; padding-left: 17px; color: #4f3f3e; font-weight: 600;}
#rogue_1{display: table-cell; text-decoration: none; font-size: 0.9rem; padding-left: 57px; color: #4f3f3e; font-weight: 600;}
.l_2{display: table; margin-top: -110px;}
#bio_1{display: table-cell; text-decoration: none; font-size: 0.9rem; padding-left: 50px; color: #4f3f3e; font-weight: 600;}
#kai_1{display: table-cell; text-decoration: none; font-size: 0.9rem; padding-left: 164px; color: #4f3f3e; font-weight: 600;}
.l_3{display: table; margin-top: 40px;}
#ner_1{display: table-cell; text-decoration: none; font-size: 0.9rem; padding-left: 17px; color: #4f3f3e; font-weight: 600;}
#hon_1{display: table-cell; text-decoration: none; font-size: 0.9rem; padding-left: 154px; color: #4f3f3e; font-weight: 600;}
#dor_1{display: table-cell; text-decoration: none; font-size: 0.9rem; padding-left: 217px; color: #4f3f3e; font-weight: 600;}
.hoge{text-decoration: none; transition: color 0.4s; -webkit-transiton: color 0.4s;}
.hoge:hover {color: #778899}
.sample1 {margin-left: 0px;}
.sample2 {margin-right: auto; margin-left: auto; margin-top: -300px;}
.tatekou {display: block; margin-left: auto; margin-right: 60px; margin-top: -320px;}
.sample3 {margin-left: 0px;}
.sample4 {margin-right: auto; margin-left: auto; margin-top: -300px;}
.sample5 {margin-left: 0px;}
.sample6 {margin-right: auto; margin-left: auto; margin-top: -300px;}
.sample7 {margin-left: 660px; margin-top: -300px;}
/*　フッター　*/
.footer {clear: both; color: #f6f3f2; background-color: #9c9c9c; font-size: 0.7rem; padding-top: 15px; padding-bottom: 10px; border-top: 1px solid #e8e8e8; line-height: 2.47;}
.foot_wrap{display: block; width: 960px; margin: 0 auto;}
.item_wrap{display: table;}
.foot {text-decoration: none; color: #f6f3f2;}
.lll {display: table-cell; padding-left: 220px;}
.ccc1 {display: table-cell; padding-left: 130px; margin-top: 0px;}
.rrr {display: table-cell; padding-left: 120px; margin-top: 0px;}
.ccc2 {text-align: center; padding-left: 20px; margin-top: 30px; color: #f6f3f2;}
