/* カテゴリーページ */
.menu_tip_wrap{margin-top: -50px;}
.content_2{width: 960px; margin: 70px auto 100px; color: #2f2f2f; font-size: 0.9rem; margin-left: 10%; line-height: 2}
.nnn_1 {color: #2f2f2f; text-decoration: none; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_2 {color: #2f2f2f; text-decoration: none; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_3 {color: #2f2f2f; text-decoration: none; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_4 {color: #2f2f2f; text-decoration: none; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_5 {color: #2f2f2f; text-decoration: none; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_6 {color: #2f2f2f; text-decoration: none; margin-left: 120px; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_7 {color: #2f2f2f; text-decoration: none; margin-left: 120px; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_8 {color: #2f2f2f; text-decoration: none; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_9 {color: #2f2f2f; text-decoration: none; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_10 {color: #2f2f2f; text-decoration: none; margin-left: 120px; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_11 {color: #2f2f2f; text-decoration: none; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_12 {color: #2f2f2f; text-decoration: none; margin-left: 130px; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_13 {color: #2f2f2f; text-decoration: none; margin-left: 130px; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_14 {color: #2f2f2f; text-decoration: none; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_15 {color: #2f2f2f; text-decoration: none; margin-left: 130px; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_16 {color: #2f2f2f; text-decoration: none; margin-left: 130px; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_17 {color: #2f2f2f; text-decoration: none; margin-left: 130px; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_18 {color: #2f2f2f; text-decoration: none; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_19 {color: #2f2f2f; text-decoration: none; margin-left: 120px; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_20 {color: #2f2f2f; text-decoration: none; margin-left: 120px; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_21 {color: #2f2f2f; text-decoration: none; margin-left: 120px; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_22 {color: #2f2f2f; text-decoration: none; margin-left: 120px; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_23 {color: #2f2f2f; text-decoration: none; transition: color 0.4s; -webkit-transition: color 0.4s;}
.nnn_1:hover {color: #787878}
.nnn_2:hover {color: #787878}
.nnn_3:hover {color: #787878}
.nnn_4:hover {color: #787878}
.nnn_5:hover {color: #787878}
.nnn_6:hover {color: #787878}
.nnn_7:hover {color: #787878}
.nnn_8:hover {color: #787878}
.nnn_9:hover {color: #787878}
.nnn_10:hover {color: #787878}
.nnn_11:hover {color: #787878}
.nnn_12:hover {color: #787878}
.nnn_13:hover {color: #787878}
.nnn_14:hover {color: #787878}
.nnn_15:hover {color: #787878}
.nnn_16:hover {color: #787878}
.nnn_17:hover {color: #787878}
.nnn_18:hover {color: #787878}
.nnn_19:hover {color: #787878}
.nnn_20:hover {color: #787878}
.nnn_21:hover {color: #787878}
.nnn_22:hover {color: #787878}
.nnn_23:hover {color: #787878}
