.content_5 {width: 960px; margin: 40px auto 20px;}
.menu_tip_wrap{margin-top: -20px;}
.sougou_1{width: 500px; margin-right: auto; margin-left: 100px;}
.sub_1{width: 430px; margin-top: -245px; margin-left: auto;}
.sub_2{width: 430px; margin-left: auto;}
.sub_3{width: 430px; margin-left: auto; margin-bottom: 100px;}
.sub_t_1{display: table-cell; font-size: 1.4rem; color: #000; margin-bottom: 0px;}
.sub_t_2{display: table-cell; font-size: 1.2rem; color: #000;}
.sub_t_3{display: table-cell;; font-size: 1.2rem; color: #000; margin-top: 18px;}
.sub_t_4{display: table-cell;; font-size: 1.2rem; color: #000; margin-top: 18px;}
.title_wrap_1{display: table; margin-left: -40px; margin-bottom: 17px;}
.title_wrap_2{display: table; margin-left: -30px; margin-bottom: 10px;}
.title_wrap_3{display: table; margin-left: -30px; margin-bottom: 10px;}
.title_wrap_4{display: table; margin-left: -30px; margin-bottom: 10px;}
.rank_image1{display: table-cell; margin-bottom: -17px}
.rank_image2{display: table-cell; margin-left: -8px; margin-bottom: -17px}
.rank_image3{display: table-cell; margin-bottom: -12px;}
.rank_image4{display: table-cell; margin-bottom: -12px; margin-left: -7px;}
.rank_image5{display: table-cell; margin-bottom: -12px;}
.rank_image6{display: table-cell; margin-bottom: -12px; margin-left: -7px;}
.rank_image7{display: table-cell; margin-bottom: -12px;}
.rank_image8{display: table-cell; margin-bottom: -12px; margin-left: -7px;}
.x_1 {color: #000; font-size: 16px;}
.y_1 {color: #000; font-size: 14px;}
.y_2 {color: #000; font-size: 14px;}
.y_3 {color: #000; font-size: 14px;}
.tag_1 {color: #000; text-decoration: none; font-size: 14px;}
.tag_2 {color: #000; text-decoration: none; font-size: 14px;}
.tag_3 {color: #000; text-decoration: none; font-size: 14px;}
.tag_4 {color: #000; text-decoration: none; font-size: 10px;}
.tag_1:hover{color:#696969;}
.tag_2:hover{color:#696969;}
.tag_3:hover{color:#696969;}
.tag_4:hover{color:#696969;}
