.content_reg1{width: 960px; margin: 40px auto 262px; font-size: 0.8rem; line-height: 2;}
.menu_tip_wrap{margin-top: -20px;}
.reg1_wrap{margin-left: 100px;}
.reg_title_1{}
.reg_text_1{margin-top: 10px;}
.id_1{}
.id_wrap{margin-top: 30px}
.password_wrap{margin-top: 20px;}
.inputpass2_wrap{margin-top: 20px;}
.email_wrap{margin-top: 20px}
.error {color: #ff0000}
.submit_1{margin-top: 40px;}
