.content_reg3{width: 960px; margin: 40px auto 270px;}
.menu_tip_wrap{margin-top: -20px;}
.reg3_wrap{margin-left: 100px;}
.conf_1{margin-bottom: 20px; font-size: 0.8rem;}
.reg3_text1{margin-bottom: 0px; font-size: 0.8rem;}
.reg3_text2{margin-bottom: 30px; font-size: 0.8rem;}
.reg3_text3{margin-bottom: 20px; font-size: 0.8rem;}
.reg3_text4{margin-bottom: 20px; font-size: 0.8rem;}
.reg3_text5{margin-bottom: 20px; font-size: 0.8rem;}
.reg3_text6{margin-bottom: 40px; font-size: 0.8rem;}
.error_1{padding-top: 10px; margin-bottom: 50px; font-size: 0.8rem}
.back_wrap{font-size: 0.8rem;}
.back_wrap_2{font-size: 0.8rem; margin-bottom: 482px;}
