.content_4{width: 960px; margin: 40px auto 20px;}
.menu_tip_wrap{margin-top: -20px;}
.text_g_1{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 150px;}
.text_g_2{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 130px;}
.text_g_3{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 150px;}
.text_g_4{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 130px;}
.text_g_5{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 150px;}
.text_g_6{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 130px;}
.text_g_7{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 170px;}
.text_g_8{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 170px;}
.text_g_9{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 110px;}
.text_g_10{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 110px;}
.text_g_11{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 170px;}
.text_g_12{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 170px;}
.text_g_13{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 150px;}
.text_g_14{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 190px;}
.text_g_15{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 170px;}
.text_g_16{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 110px;}
.text_g_17{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 130px;}
.text_g_18{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 130px;}
.text_g_19{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 170px;}
.text_g_20{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 170px;}
.text_g_21{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 170px;}
.text_g_22{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 170px;}
.text_g_23{width: 380px; margin-left: auto; margin-top: -300px; margin-bottom: 170px;}
.mtitle_1{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_2{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_3{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_4{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_5{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_6{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_7{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_8{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_9{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_10{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_11{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_12{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_13{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_14{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_15{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_16{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_17{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_18{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_19{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_20{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_21{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_22{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.mtitle_23{font-size: 1rem; font-weight: 600; padding-bottom: 20px;}
.arasuji_1{font-size: 0.8rem;}
.arasuji_2{font-size: 0.8rem;}
.arasuji_3{font-size: 0.8rem;}
.arasuji_4{font-size: 0.8rem;}
.arasuji_5{font-size: 0.8rem;}
.arasuji_6{font-size: 0.8rem;}
.arasuji_7{font-size: 0.8rem;}
.arasuji_8{font-size: 0.8rem;}
.arasuji_9{font-size: 0.8rem;}
.arasuji_10{font-size: 0.8rem;}
.arasuji_11{font-size: 0.8rem;}
.arasuji_12{font-size: 0.8rem;}
.arasuji_13{font-size: 0.8rem;}
.arasuji_14{font-size: 0.8rem;}
.arasuji_15{font-size: 0.8rem;}
.arasuji_16{font-size: 0.8rem;}
.arasuji_17{font-size: 0.8rem;}
.arasuji_18{font-size: 0.8rem;}
.arasuji_19{font-size: 0.8rem;}
.arasuji_20{font-size: 0.8rem;}
.arasuji_21{font-size: 0.8rem;}
.arasuji_22{font-size: 0.8rem;}
.arasuji_23{font-size: 0.8rem;}
.arasuji_1_1{color: #ffae00; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_2_1{color: #6cb14b; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_3_1{color: #0a7f9e; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_4_1{color: #fe3d3d; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_5_1{color: #417df4; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_6_1{color: #47e1e6; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_7_1{color: #ffae00; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_8_1{color: #6cb14b; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_9_1{color: #0a7f9e; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_10_1{color: #fe3d3d; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_11_1{color: #417df4; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_12_1{color: #47e1e6; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_13_1{color: #ffae00; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_14_1{color: #6cb14b; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_15_1{color: #0a7f9e; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_16_1{color: #fe3d3d; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_17_1{color: #417df4; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_18_1{color: #47e1e6; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_19_1{color: #ffae00; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_20_1{color: #6cb14b; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_21_1{color: #0a7f9e; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_22_1{color: #fe3d3d; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.arasuji_23_1{color: #417df4; font-size: 2rem; height: 35px; margin-top: -7px; font-weight: 600; float: left;}
.reviewf_1{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_2{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_3{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_4{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_5{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_6{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_7{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_8{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_9{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_10{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_11{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_12{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_13{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_14{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_15{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_16{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_17{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_18{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_19{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_20{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_21{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_22{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.reviewf_23{clear: left; color: #2f2f2f; font-size: 0.8rem; border: 1px solid #e4e4e4; background-color: #fbfbfb; width: 480px; margin-top: 10px; padding:30px 38px 20px 40px;}
.radio_1{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_2{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_3{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_4{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_5{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_6{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_7{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_8{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_9{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_10{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_11{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_12{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_13{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_14{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_15{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_16{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_17{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_18{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_19{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_20{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_21{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_22{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.radio_23{color: #2f2f2f; font-size: 0.8rem; line-height: 2;}
.form_title_1{margin-bottom: 10px;}
.form_title_2{margin-bottom: 10px;}
.form_title_3{margin-bottom: 10px;}
.form_title_4{margin-bottom: 10px;}
.form_title_5{margin-bottom: 10px;}
.form_title_6{margin-bottom: 10px;}
.form_title_7{margin-bottom: 10px;}
.form_title_8{margin-bottom: 10px;}
.form_title_9{margin-bottom: 10px;}
.form_title_10{margin-bottom: 10px;}
.form_title_11{margin-bottom: 10px;}
.form_title_12{margin-bottom: 10px;}
.form_title_13{margin-bottom: 10px;}
.form_title_14{margin-bottom: 10px;}
.form_title_15{margin-bottom: 10px;}
.form_title_16{margin-bottom: 10px;}
.form_title_17{margin-bottom: 10px;}
.form_title_18{margin-bottom: 10px;}
.form_title_19{margin-bottom: 10px;}
.form_title_20{margin-bottom: 10px;}
.form_title_21{margin-bottom: 10px;}
.form_title_22{margin-bottom: 10px;}
.form_title_23{margin-bottom: 10px;}
.submit_1{color: #2f2f2f; margin-top: 20px;}
.submit_2{color: #2f2f2f; margin-top: 20px;}
.submit_3{color: #2f2f2f; margin-top: 20px;}
.submit_4{color: #2f2f2f; margin-top: 20px;}
.submit_5{color: #2f2f2f; margin-top: 20px;}
.submit_6{color: #2f2f2f; margin-top: 20px;}
.submit_7{color: #2f2f2f; margin-top: 20px;}
.submit_8{color: #2f2f2f; margin-top: 20px;}
.submit_9{color: #2f2f2f; margin-top: 20px;}
.submit_10{color: #2f2f2f; margin-top: 20px;}
.submit_11{color: #2f2f2f; margin-top: 20px;}
.submit_12{color: #2f2f2f; margin-top: 20px;}
.submit_13{color: #2f2f2f; margin-top: 20px;}
.submit_14{color: #2f2f2f; margin-top: 20px;}
.submit_15{color: #2f2f2f; margin-top: 20px;}
.submit_16{color: #2f2f2f; margin-top: 20px;}
.submit_17{color: #2f2f2f; margin-top: 20px;}
.submit_18{color: #2f2f2f; margin-top: 20px;}
.submit_19{color: #2f2f2f; margin-top: 20px;}
.submit_20{color: #2f2f2f; margin-top: 20px;}
.submit_21{color: #2f2f2f; margin-top: 20px;}
.submit_22{color: #2f2f2f; margin-top: 20px;}
.submit_23{color: #2f2f2f; margin-top: 20px;}
.sample_1{width: 380px; margin: -370px 40px 140px auto;}
.sample_2{width: 380px; margin: -370px 40px 140px auto;}
.sample_3{width: 380px; margin: -370px 40px 140px auto;}
.sample_4{width: 380px; margin: -370px 40px 160px auto;}
.sample_5{width: 380px; margin: -370px 40px 130px auto;}
.sample_6{width: 380px; margin: -370px 40px 160px auto;}
.sample_7{width: 380px; margin: -370px 40px 140px auto;}
.sample_8{width: 380px; margin: -370px 40px 140px auto;}
.sample_9{width: 380px; margin: -370px 40px 140px auto;}
.sample_10{width: 380px; margin: -370px 40px 160px auto;}
.sample_11{width: 380px; margin: -370px 40px 130px auto;}
.sample_12{width: 380px; margin: -370px 40px 160px auto;}
.sample_13{width: 380px; margin: -370px 40px 140px auto;}
.sample_14{width: 380px; margin: -370px 40px 140px auto;}
.sample_15{width: 380px; margin: -370px 40px 140px auto;}
.sample_16{width: 380px; margin: -370px 40px 160px auto;}
.sample_17{width: 380px; margin: -370px 40px 130px auto;}
.sample_18{width: 380px; margin: -370px 40px 160px auto;}
.sample_19{width: 380px; margin: -370px 40px 140px auto;}
.sample_20{width: 380px; margin: -370px 40px 140px auto;}
.sample_21{width: 380px; margin: -370px 40px 140px auto;}
.sample_22{width: 380px; margin: -370px 40px 160px auto;}
.sample_23{width: 380px; margin: -370px 40px 130px auto;}
/* jQuery */
#pageTop{position: fixed; bottom: 10px; right: 10%;}
#pageTop a{display: block; z-index: 999; padding: 8px 0 0 8px; font-weight: bold; text-decoration: none; text-align: center;}
#pageTop a:hover{text-decoration: none; opacity: 0.7;}
